<h1>canciones</h1>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Nombre del artista" [(ngModel)]="cancion" name="Canciones" >
  </mat-form-field>
  <br/>
  <button mat-stroked-button (click)="obtenerCancion()">Buscar</button>
</form>
<hr>
<ul>
  @for (cancion of canciones(); track $index) {
    <li>
      <a [routerLink]="[cancion.name]" routerLinkActive="router-link-active" >{{cancion.name}}</a>
    </li>
  }
</ul>
